body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgb(228, 220, 220);
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}

section{
    background-color: blue;
    width: 500px;
    height: 100px;
    text-align: center;
    margin-left: 430px;
    position: center;
}

footer{
    margin-top: 40px;
    font-style: italic;
}

h1{
    margin-top: 20px;
}

p{
    text-align: justify;
    margin-left: 290px;
    margin-top: 0.83em;  
}

#lua{
    width: 90px;
    height: 90px;
    margin-top: 20px;
    cursor: pointer;
}

#lua:hover{
    animation: bounce .4s;
}

@keyframes bounce{
    10%, 40%, 70%{
        transform: translateY(-10px);
    }
    25%, 55%, 85%{
        transform: translateY(10px);
    }

}

#clique{
    text-indent: 12ch;
}

/* Moto G4, GalaxyS5*/
@media (max-width: 380px ){
    h1{
        font-size: 26px;
    }
    p{
        margin: 0;
        font-size: 17px;
    }
    #clique{
        text-indent: 1ch;
        margin-top: 40px;
    }
    #Lua{
        margin-top: 40px;
    }
    
}

/* Mobile */

/* Pixel 2 */
@media (width: 411px) and (max-height: 734px){
    h1{
        font-size: 26px;
    }
    p{
        margin: 0;
        font-size: 20px;
    }
    #clique{
        text-indent: 1ch;
        margin-top: 40px;
    }
    footer{
        margin-top:50px;
    }
    
}

/* Pixel 2XL */
@media (width: 411px) and (max-height: 823px){
    h1{
        font-size: 26px;
    }
    p{
        margin: 0;
        font-size: 20px;
    }
    #clique{
        text-indent: 1ch;
        margin-top: 40px;
    }
    footer{
        margin-top:100px;
    }
}

/* Iphone 5/SE, Iphone 6/7/8 */
@media (width: 320px) and (max-height: 568px){
    h1{
        font-size: 26px;
    }
    p{
        margin: 0;
        font-size: 15px;
    }
    #clique{
        text-indent: 1ch;
        margin-top: 40px;
    }
    footer{
        margin-top:10px;
        font-size: 20px;
    }
}

/* Iphone 6/7/8 Plus */
@media (width: 414px) and (max-height: 736px){
    h1{
        font-size: 26px;
    }
    p{
        margin: 0;
        font-size: 20px;
    }
    #clique{
        text-indent: 1ch;
        margin-top: 40px;
    }
    footer{
        margin-top:100px;
        font-size: 20px;
    }
}

/* Iphone X */
@media (width: 375px) and (max-height: 812px){
    h1{
        font-size: 26px;
        margin-top: 100px;
        margin-bottom: 70px;
    }
    p{
        margin: 0;
        font-size: 18px;
    }
    #clique{
        text-indent: 1ch;
        margin-top: 40px;
    }
    footer{
        margin-top:70px;
        font-size: 20px;
    }
}

/* iPad */
@media (width: 768px) and (max-height: 1024px){
    h1{
        font-size: 55px;
        margin-top: 100px;
        margin-bottom: 70px;
    }
    p{
        margin: 0;
        font-size: 26px;
    }
    #clique{
        text-indent: 8ch;
        margin-top: 40px;
    }
    footer{
        margin-top:70px;
        font-size: 30px;
    }
}

/* iPad Pro */
@media (width: 1024px) and (height: 1366px){
    h1{
        font-size: 70px;
        margin-top: 100px;
        margin-bottom: 70px;
    }
    p{
        margin: 0;
        font-size: 40px;
    }
    #clique{
        text-indent: 5ch;
        margin-top: 40px;
    }
    footer{
        margin-top:70px;
        font-size: 40px;
    }
}

/* Surface Duo */
@media (width: 450px) and (height: 600px){
    h1{
        font-size: 32px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p{
        margin: 0;
        font-size: 20px;
    }
    #clique{
        text-indent: 3ch;
        margin-top: 40px;
    }
    footer{
        margin-top:10px;
        font-size: 20px;
    }
}


/* Galaxy Fold */
@media (width: 280px) and (height: 653px){
    h1{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p{
        margin: 0;
        font-size: 15px;
    }
    #clique{
        text-indent: 0ch;
        margin-top: 40px;
        font-size: 14px;
    }
    footer{
        margin-top:50px;
        font-size: 20px;
    }
}

/* MONITORES GRANDES */
@media (min-width: 1722px) and (min-height: 700px){
    h1{
        font-size: 80px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p{
        margin: 0;
        margin-left: 420px;
        font-size: 35px;
    }
    #clique{
        text-indent: 15ch;
        margin-top: 40px;
    }
    footer{
        margin-top:150px;
        font-size: 25px;
    }
}


@media (min-width: 338px) and (min-height: 700px){
    h1{
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p{
        text-align: center;
        margin: 0;
        margin-left: 0px;
        font-size: 20px;
    }
    #clique{
        text-indent: 10ch;
        margin-top: 40px;
    }
    footer{
        margin-top:150px;
        font-size: 25px;
    }
}

@media (min-width: 402px) and (min-height: 640px){
    h1{
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p{
        text-align: center;
        margin: 0;
        margin-left: 0px;
        font-size: 20px;
    }
    #clique{
        text-indent: 1ch;
        margin-top: 40px;
    }
    footer{
        margin-top:150px;
        font-size: 25px;
    }
}

@media (min-width: 1040px) and (max-width: 2652px) and (min-height: 880px) and (max-height: 1140px){
    h1{
        font-size: 120px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    p{
        text-align: center;
        margin: 0;
        margin-left: 0px;
        font-size: 40px;
    }
    #clique{
        text-indent: 1ch;
        margin-top: 40px;
    }
    footer{
        margin-top:100px;
        font-size: 25px;
    }
}